/* .App {
  text-align: center;
} */


/* .title-text {
  font-family: 'MyFont', sans-serif;
}
.title-text_2 {
  font-family: 'MyFont2', sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.l-w {
  letter-spacing: 4px;
  word-spacing: 4px;
} */